@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #303030;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 6rem;
}

p {
  letter-spacing: 2px;
  font-size: 1.8rem
}

.smallText {
  margin-top: 30px;
  font-size: 0.8rem;
  letter-spacing: normal;
}
